<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
  </head>

  <body style="background-color: #ECEEF1; width: 100%; height: 100%;">
    <table style="display: table; grid-template-columns: repeat(3, 1fr); width: 300px; margin-left: auto; margin-right: auto; padding-top: 100px; padding-bottom: 100px;">
      <tr>
        <td colspan="1"></td>

        <td colspan="1">
          <img style="display: block; width: 250px; margin-left: auto; margin-right: auto;" src="cid:Image-Logo" alt="Image-Logo" >

          <div style="display: block; background-color: #FFFFFF; width: 300px; margin-top: 30px; padding: 30px;">
            <span style="display: block; text-align: center; font-size: 24px; margin-left: auto; margin-right: auto;">Verify Account</span>
          
            <p style="display: block; text-align: center; font-size: 12px; margin-left: auto; margin-right: auto;">Congratulations! You successfully created an account for Veltech. Please click the link below to verify your account.</p>

            <a style="display: block; font-size: 14px; font-weight: 600; color: #FFFFFF; text-decoration: none; background-color: #DE2B2B; border-radius: 5%; width: fit-content; margin-left: auto; margin-right: auto; margin-top: 15px; margin-bottom: 15px; padding-left: 45px; padding-right: 45px; padding-top: 15px; padding-bottom: 15px; cursor: pointer;" href={{ redirect }} target="_blank" rel="noreferrer">Verify Account</a>

            <p style="display: block; text-align: center; font-size: 10px; margin-left: auto; margin-right: auto;">Didn’t create an ccount for Veltech? It’s likely someone just typed in your email address by acccident. Feel free to ignore this email. </p>
          </div>
        </td>

        <td colspan="1"></td>
      </tr>
    </table>
  </body>
</html>